/*//////////////Reset////////////////////*/
html {
    -webkit-text-size-adjust: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}




/*/////////Fonts////////////////*/

@import url("//fonts.googleapis.com/css?family=Open+Sans&display=swap");

/*/////////MainCSS////////////////*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 40px;
    font-family: 'Open Sans', 'sans-serif';
    background-color: #fff;
    color: #444;
}


h1,
p {
    margin: 0 0 1em 0;
}



.container {
    max-width: 1500px;
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
}

.container .subitems {
    display:grid;
    padding-bottom: 2rem;    
}

.banner {
    grid-area: banner;
    height: 20rem;
    margin-bottom: 2rem;
    z-index: -1;
    
    /*overflow: hidden;*/
    background-color: rosybrown;
}

.heroImage {
    grid-area: heroImage;
    background-color: lawngreen;
    width:100%;
}

.articleText {
    grid-area: articleText;
    background-color:rebeccapurple;
    height: 100%;
}

@media screen and (max-width: 799px) {
   .container .subitems {
       grid-gap: 1rem;
       grid-template-areas:
           "heroImage" 
           "articleText";
       grid-template-columns: 1fr;
   }
}

@media screen and (min-width: 800px) {
   

    /* no grid support? */
    nav {
        grid-area: nav;
        float: left;
        position: sticky;
        top: 0;
        width: 19.1489%;
    }

    main {
        grid-area: content;
        float: right;
        width: 79.7872%;
        height: 100%;
    }

    .banner {
          border-image-repeat: stretch;
    }

    .container {
        margin: 0 auto;
        grid-template-areas:
            "nav content"
            "nav    content "
            "nav    footer ";
        height: 100%;
        grid-template-columns: 1fr  4fr;

    }

    .container .subitems{
        margin: 0 auto;
        grid-gap: 2rem;
        grid-template-areas:
        "banner banner" 
        "heroImage articleText";
        
        grid-template-columns: 1fr 1fr;
        
    }
}

.container>* {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
    /* needed for the floated layout*/
    margin-bottom: 10px;
}


header,
footer {
    
    grid-column: 0 / 1;
    /* needed for the floated layout */
    clear: both;
}
/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
    .container>* {
        width: auto;
        margin: 0;
    }

}