
/*Fonts//////////////////////////////////////////////////*/
@font-face {
    font-family: "72 Black";
    src: url("fonts/72-Black-full.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "72 Black Headline";
    src: url("fonts/72-Black-full.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "72 Emphasized Headline";
    src: url("fonts/72-Bold-full.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "72";
    src: url("fonts/72-Light-full.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "72 Regular";
    src: url("fonts/72-Regular-full.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/*Fonts//////////////////////////////////////////////////*/
.site-Headline{
    font-family:'72 Black Headline';
    -webkit-text-fill-color: #6A6A6A;
    font-size: 4rem;
    line-height: .96;
    letter-spacing: -.025em !important;
}

.title-Headline-3 {
    font-family:'72 Black';
    font-weight: 900;
    color: #4F6A83 !important;
    font-size: 50px !important;
    line-height: 44px !important;
}

.title-Headline-2 {
    font-family:'72 Black';
    font-weight: 900;
    color: #6A6A6A !important;
    font-size: 50px !important;
    line-height: 24px !important;
}

.emphasizedHeadline{
    font-family:'72 Black';
    font-weight: 700;
    color: #4F6A83 !important;
    font-size: 35px !important;
    line-height: 34px !important;
}

.expertise-text{
    font-family:'72 Regular';
    font-weight: 400;
    color: #6A6A6A !important;
    font-size: 20px !important;
    line-height: 27px !important;
}

.header-Text {
    font-family:'72 Regular';
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #6A6A6A;
}

.case-headline-2 {
    font-family:'72 Black';
    font-weight: 900;
    color: #6A6A6A !important;
    font-size: 25px !important;
    line-height: 24px !important;
}


.case-headline-3 {
    font-family:'72 Black';
    font-weight: 900;
    color: #4F6A83 !important;
    font-size: 25px !important;
    line-height: 24px !important;
}


/*/footer text/////////////////////////////////////////////////*/
.case-headline-footer {
    font-family:'72 Black';
    font-weight: 900;
    color: #FFF !important;
    font-size: 25px !important;
    line-height: 24px !important;
}

.expertise-text-footer{
    font-family:'72 Regular';
    font-weight: 400;
    color: #FFF !important;
    font-size: 20px !important;
    line-height: 27px !important;
}

.link-text{
    font-family:'72 Emphasized Headline';
    font-weight: 700 !important;
    color: #FFF !important;
    font-size: 20px !important;
    line-height: 27px !important;
}

/*/footer text/////////////////////////////////////////////////*/


.detail-headline-3{
    font-family:'72 Regular';
    font-weight: 400;
    color: #8005BA !important;
    font-size: 20px !important;
    line-height: 24px !important;
}

.detail-headline-2{
    font-family:'72 Black';
    font-weight: 700 !important;
    color: #6A6A6A !important;
    font-size: 20px !important;
    line-height: 27px !important;
}
.detail-text{
    font-family:'72 Regular';
    font-weight: 400;
    color: #595959 !important;
    font-size: 20px !important;
    line-height: 28px !important;
}

.color-bg-footer {
    background-color: #4F6A83;
}

.color-bg-subCanvas {
    background-color:#F4F4F4;
}

.list {
    list-style-type: disc;
    list-style-position: outside
}





.bg-pattern{
background-color: #F4F4F4;
background-image:  linear-gradient(#eeeded 2px, transparent 2px), linear-gradient(90deg, #eeeded 2px, transparent 2px), linear-gradient(#eeeded 1px, transparent 1px), linear-gradient(90deg, #eeeded 1px, #fff 1px);
background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.process-log::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 2px);
    z-index:+1;
    display: block;
    width: 6px;
    content: "";
    background: red;
}


/*Rectangles//////////////////////////////////////////////////*/
.top-rectangle {
    border-top: 30px solid #4F6A83;
}

.color-rectangle {
    width: 20%;
    height: 12 px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background: #0A6ED1;
}
.color-rectangle-2 {
    width: 20%;
    height: 8px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background: #0A6ED1;
}
.separator-line {
    border-top: 6px solid #4F6A83;
}

.separator-line-2 {
    border-top: 2px solid #4F6A83;
}
.color-rectangle-small {
    width: 10%;
    height: 4px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #4F6A83;
}



.rounded-tag {
    border-radius: 5px;
}

.section-Text {
    line-height: .96;
    letter-spacing: -.025em !important;
    font-weight: 600;
    font-size: 2rem;
}

.section-Span {
    font-weight: 600;
    font-size: 2rem;
}

.text-white {
    -webkit-text-fill-color: white;
}

.header-block {
    position: sticky;
    top: 0;
    z-index: -1;
    
}


.stack-1 {
    position: absolute;
    z-index: 6;
}

.stack-2 {
    position: absolute;
    z-index: 2;
}

.hero-image-resize {
    padding-top: 5.9%;
}

.hero-frame {
    background-size: contain;
    background-image: url("/img/00_FrameBig.svg");
    background-repeat: no-repeat;
}

.image-resize {
    padding-top: 6.6%;
    padding-left: 2px;
    padding-right: 2px;

}

.device-frame {
    background-size: contain;
    background-image: url("/img/00_frame.svg");
    background-repeat: no-repeat;
}

.device-frame-2 {
    background-size: contain;
    background-image: url("/img/00_frame_02.svg");
    background-repeat: no-repeat;
}

.device-frame-3 {
    background-size: contain;
    background-image: url("/img/00_frame_03.svg");
    background-repeat: no-repeat;
}

.device-frame-4 {
    background-size: contain;
    background-image: url("/img/00_frame_04.svg");
    background-repeat: no-repeat;
}

.logo-img {
    width: 20%;
}

.spec-background {
    background-color: #EDEFF0;
}


.hero-block {
    position: sticky;
    top: 0;
    z-index: 0;
    
}

.sticky-block {
    position: sticky;
    top: 0;
    z-index: -1;
}

.content-block {
    z-index: 1 !important;
}

.text-task {
    color: #627597 !important;
}

.border-line {
    border-top: 2px solid #cfcfcf
}

.imgScrollContainer {
    transform-style: preserve-3d;
    transform: scale(2) translate3d(0px, -181.5px, -1px);
}

.img-resize {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.avatar-scale {
    width: 16%;
    padding: 1rem;
}

.fluid-deepDive {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}



.build-in-slideX-left.build-in-animate {
    opacity: 1;
    transform: translateX(0);
}


.build-in-slideX-left {
    opacity: 0;
    transition: opacity .6s cubic-bezier(.16, 1, .3, 1), transform .6s cubic-bezier(.16, 1, .3, 1);
    transform: translateX(-15px);
}




.text-highlight-dark {
    color: #040d21 !important;
    font-size: 24px !important;
    line-height: 32px !important;
}

.box-shadow-active-border-mktg {
    box-shadow: 0 0 0 1px rgba(53, 72, 91, .1), 0 2px 2px rgba(0, 0, 0, .0274351), 0 4px 4px rgba(0, 0, 0, .0400741), 0 10px 8px rgba(0, 0, 0, .0499982), 0 15px 15px rgba(0, 0, 0, .0596004), 0 30px 30px rgba(0, 0, 0, .0709366), 0 10px 20px rgba(0, 0, 0, .09) !important;
}

.hero-block {
    position: sticky;
    top: -1px;
    z-index: 0;
    perspective: 1px;
    transform-style: preserve-3d
}

.hero-block.is-sticky {
    transform: translateZ(-3px);
}




.slide-left {
    opacity: 0;
    transform: translateX(0);
}

.slide-left.slide-left-animate {
    opacity: 1;
    transition: opacity .9s cubic-bezier(.16, 1, .3, 1), transform .9s cubic-bezier(.16, 1, .3, 1);
    transform: translateX(15px);
}


.slide-right {
    opacity: 0;
    transform: translateX(0);
}

.slide-right.slide-right-animate {
    opacity: 1;
    transition: opacity .9s cubic-bezier(.16, 1, .3, 1), transform .9s cubic-bezier(.16, 1, .3, 1);
    transform: translateX(-15px);
}

.z-2 {
    z-index: 2 !important;
}

.z-3 {
    z-index: 3 !important;
}

.z-4 {
    z-index: 4 !important;
}

.position-back {
    width: 70%;
    margin: -6% 0 -40%;
}

.position-front {
    width: 80%;
    margin: 5% 17% 20%;
}

.position-top {
    width: 80%;
    margin: -55% 12% 0%;
}


.position-complex-back {
    width: 96%;
    margin: 0 0% 0%;
}

.position-complex-middle {
    width: 70%;
    margin: 3% 21% -53%;
}


.square-animation {
    animation: enter .6s cubic-bezier(.16, 1, .3, 1) forwards;
    animation-duration: 1.5;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: enter;
}


@keyframes enter {
    0% {
        opacity: 0;
        transform: scale3d(.93, .93, 1) translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: scaleX(1) translateY(0)
    }
}
