/*//////////////Reset////////////////////*/
html {
    -webkit-text-size-adjust: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.6rem;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

div {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}




/*/////////Fonts////////////////*/

@import url("//fonts.googleapis.com/css?family=Open+Sans&display=swap");

@import url("//fonts.googleapis.com/css?family=Open+Sans:700&display=swap");

body {
    font-family: "Open Sans", Helvetica, sans-serif;
}

header {
    font-size: 32px;
}

.articleText {
    font-size: 10px;
}

.banner {
    font-size: 32px;
    text-align: center;
    padding: 2rem;
}

/*/////////MainCSS////////////////*/





*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 40px;
    background-color: #fff;
    color: #444;
    line-height: 1.5em;

}

a {
    color: #00FFCC;
}

main {
    background-color: white;
}

h1 {
    margin: 0 0 0.3em 0;
    line-height: 1em;
}

p {
    margin: 0 0 0.3em 0;
    line-height: 1.4em;

}

header {
    position: sticky;
    top: 0;
    z-index: -1;
    width: auto;
}

.imageAvatar {
    grid-area: imageAvatar border: 0;
    width: 20%;
    height: auto;
}

.headerText {
    grid-area: headerText;
}

header>div {
    display: grid;
    padding: 0 2rem 0 2rem;
    grid-template-areas: "imageAvatar"
        "headerText";
    height: 100%;
    grid-template-columns: repeat(1fr);
    grid-gap: 0.2rem;
    justify-items: center;
}

header>div>h1 {
    font-size: 16px;
    text-align: center;
}

header>div>h2 {
    font-size: 100%;
    text-align: center;
    font-weight: 700;
}

.container {
    max-width: 1500px;
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
}

.container .subitems {
    display: grid;
    padding-bottom: 4rem;
    border-top: 2px solid #4b4542;
}


.banner {
    grid-area: banner;
    height: auto;
    margin-bottom: 2rem;
    z-index: -1;
    /*overflow: hidden;*/
    background-color: white;
    border-top: 6px solid #4b4542;
}

.heroImage {
    grid-area: heroImage;
    width: 100%;
}

.suplImage {
    grid-area: suplImage;
    padding-top: 3rem;
    width: 100%;
}

.articleText {
    grid-area: articleText;
    height: 100%;
    padding-left: 3rem;
}

.suplText {
    padding-top: 3rem;
    padding-right: 2rem;
    grid-area: suplText;
    height: 100%;
    font-size: 18px;
}

.articleText>h1 {
    font-size: 32px;
    font-weight: 700;

}

.articleText>p {
    padding-top: 1rem;
    font-size: 18px;
}

footer {
    border-top: 6px solid #4b4542;
    text-align: center;
}

@media screen and (max-width: 799px) {
    .container .subitems {
        padding-top: 1rem;
        grid-template-areas:
            "articleText"
            "heroImage"
            "suplText"
            "suplImage";
        grid-template-columns: 1fr;
    }


    .articleText {
        height: 100%;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }


    .suplImage {
        padding-top: 1rem;
        width: 100%;
    }

    .banner>p {
        font-size: 18px;
        font-family: "Open Sans";
        text-align: left;
    }

}



@media screen and (min-width: 800px) {


    /* no grid support? */
    .banner>p {
        font-size: 24px;
        font-family: "Open Sans";
        font-weight: 600;

    }

    nav {
        grid-area: nav;
        float: left;
        position: sticky;
        top: 0;
        width: 19.1489%;
    }

    main {
        grid-area: content;
        float: right;
        width: 79.7872%;
        height: 100%;
    }

    .banner {
        border-image-repeat: stretch;
    }

    .container {
        margin: 0 auto;
        grid-template-areas:
            "header header"
            "content content "
            "footer  footer ";
        height: 100%;
        grid-template-columns: 1fr 1fr;

    }

    .container .subitems {
        margin: 0 auto;
        padding-top: 2rem;
        padding-top: 5rem;
        grid-template-areas:
            "heroImage articleText"
            "suplText suplImage";
        grid-template-columns: 1fr 1fr;

    }
}

.container>* {
    padding: 10px;
    /* needed for the floated layout*/
    margin-bottom: 10px;
}

header,
footer {
    grid-column: -1 / 1;
    /* needed for the floated layout */
    clear: both;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
    .container>* {
        width: auto;
        margin: 0;
    }

}